* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Wix Madefor Display", sans-serif;
}

:root {
  /* colour palette */
  --black: rgb(18, 18, 18);
  --blue: rgb(27, 175, 255);
  --white: rgb(238, 238, 238);

  /* font sizes */
  --title: 75px;
  --headings: 28px;
  --text: 22px;
}

body {
  background-image: url("../images/soundwaves.jpg");
  background-size: cover;
}

.navbar {
  padding: 0 10px;
  margin-bottom: 8em;
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 1em;
  box-shadow: 5px 0 10px 6px rgba(27, 175, 255, 0.359);
}

.heading {
  font-family: "Orbitron", sans-serif;
  font-size: 4em;
  font-weight: bold;
  padding: 5px;
  color: var(--white);
}

.home-btn {
  font-family: "Orbitron", sans-serif;
  position: absolute;
  right: 50px;
  text-decoration: none;
  color: var(--white);
  font-size: var(--headings);
  font-weight: bold;
}

.home-btn:hover {
  color: var(--blue);
  transform: scale(1.2);
  transition: 0.4s;
}

/* description card */
.description {
  width: 60%;
  margin: 3em auto;
  border-radius: 5px;
  line-height: 1.5em;
  background-color: var(--black);
  opacity: 80%;
  color: var(--white);
  font-size: var(--text);
  box-shadow: 0px 0px 5px 4px rgba(238, 238, 238, 0.302);
}

.rhymeradar-word {
  font-family: "Orbitron", sans-serif;
  display: inline;
  font-size: var(--headings);
  color: var(--blue);
  font-weight: bold;
}

/* search inputs section */
.search-section {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 4em;
}

.user-input {
  width: 16em;
}

.search-btn {
  width: 3em;
  border-radius: 50%;
  border: none;

  background-color: var(--white);
}

.search-btn:hover {
  box-shadow: 0px 0px 4px 2px rgb(27, 175, 255);
  transform: scale(1.1);
  transition: 0.4s;
}

/* featured artist title */
.featured-title {
  font-size: var(--headings);
  font-weight: bold;
  margin: 1em auto;
  padding-top: 1em;
  color: var(--white);
  width: fit-content;
}

/* carousel */
.suggestions-carousel {
  background-color: rgba(18, 18, 18, 0.687);
  opacity: 100%;
  width: 40em;
  margin: 4em auto;
  padding: 0 0 3em 0;
  border-radius: 5px;
}

.carousel-inner {
  width: fit-content;
  margin: 0 auto;
}

.feat-artist-lyric-btn {
  color: var(--white);
  cursor: pointer;
}

.feat-artist-lyric-btn:hover {
  color: var(--blue);
}

.carousel-item img {
  width: fit-content;
  max-width: 450px;
  height: 25em;
}

.carousel-caption {
  background-color: var(--black);
  opacity: 80%;
  width: fit-content;
  padding: 1em;
  margin: 0 auto;
  border-radius: 20px;
}

.carousel-caption h5 {
  font-size: 20px;
}

.carousel-caption p {
  font-size: 16px;
}

/* lyrics display page */

/* recent searches box */
.history-box {
  text-align: center;
  color: var(--white);
}

.trash-button {
  background-color: var(--white);
  padding: 10px;
  border: none;
  border-radius: 50%;
  width: 50px;
  margin: 0 auto;
}

.trash-button:hover {
  box-shadow: 0px 0px 4px 2px rgb(27, 175, 255);
  transform: scale(1.1);
  transition: 0.4s;
}

#recent-searches {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  width: 60%;
  margin: 2em auto;
  padding: 1em;
  opacity: 80%;
  border-radius: 10px;
}

#recent-searches h3 {
  text-align: center;
  color: var(--white);
}

.history-search {
  border: none;
  background: none;
  width: fit-content;
  color: var(--white);
  font-size: var(--text);
  margin: 8px;
}

.history-search:hover {
  color: var(--blue);
  transition: 0.2s;
}

.lyrics-page {
  display: flex;
}

.cards-container {
  justify-content: center;
  margin: 0 auto;
}

.lyrics-page-card {
  height: fit-content;
  margin: 15px;
  max-width: 100em;
  border: none;
  background-color: var(--black);
  opacity: 90%;
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.card img {
  margin: 0 auto;
  width: fit-content;
}

.card-img-top {
  width: fit-content;
  max-width: 450px;
  height: 25em;
}

#lyrics-display {
  max-width: 1400px;
  height: 800px;
}

.scrollable-content {
  overflow-y: auto;
  height: 100%;
  padding: 10px;
}

.top-right-title {
  text-align: left;
  width: fit-content;
  font-size: var(--text);
}

.right-card-title {
  color: white;
  text-align: center;
  font-size: var(--text);
}

#artist-name,
#album-name {
  color: var(--blue);
}

#lyrics-title {
  font-size: var(--headings);
  padding-bottom: 20px;
  color: var(--blue);
  text-align: center;
}

#lyrics-content {
  font-size: var(--text);
  padding: 10px;
  color: white;
}

.right-col {
  max-width: 35em;
}

.right-card-text {
  font-size: var(--text);
  color: white;
}

/* footer */
footer {
  background-image: url("/assets/images/sound_equalizer.png");
  background-color: rgba(18, 18, 18, 0.778);
  box-shadow: 5px 0 10px 6px rgba(27, 175, 255, 0.359);
  background-blend-mode: soft-light;
  background-size: contain;
  height: 6em;
  opacity: 90%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 4em;
}

footer p {
  color: var(--white);
  font-size: 16px;
  padding: 3px;
  border-radius: 10px;
  margin: 1em 1em;
}

.avatar-div {
  display: flex;
  gap: 1em;
  margin-right: 2em;
}

.avatar-icon {
  background-color: var(--white);
  padding: 6px;
  border-radius: 50%;
  opacity: 80%;
}

.avatar-icon:hover {
  transform: scale(1.2);
  transition: 0.3s;
  background-color: var(--blue);
}

/* media queries */
@media only screen and (max-width: 850px) {
  .navbar {
    flex-direction: column;
  }

  .heading {
    font-size: 4em;
  }

  .home-btn {
    position: absolute;
    top: 10px;
    left: 20px;
  }

  .description {
    width: 90%;
  }

  footer {
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }
}

@media only screen and (max-width: 700px) {
  .navbar {
    min-width: 800px;
  }

  .description {
    min-width: 600px;
    margin-left: 5em;
  }

  .search-section {
    flex-direction: column;
    gap: 3em;
    margin-left: 16em;
    position: relative;
  }

  .search-btn {
    min-width: 50px;
    min-height: 50px;
    position: absolute;
    left: 22em;
    top: 6em;
  }

  .suggestions-carousel {
    margin-left: 5em;
  }

  footer {
    min-width: 800px;
    flex-direction: column;
    align-items: center;
  }

  /* lyrics page */
  .history-box {
    margin-left: 7em;
    min-width: 600px;
    width: 100%;
  }

  #recent-searches {
    width: 100%;
  }

  .lyrics-page-card {
    margin-left: 6em;
    min-width: 600px;
    width: 100%;
  }
}
