* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* colour palette */
:root {
  --black: rgb(34, 40, 49);
  --grey: rgb(57, 62, 70);
  --blue: rgb(24, 137, 194);
  --white: rgb(238, 238, 238);
}

/* header and nav section */
.navbar {
  background-color: var(--black);
}

.navbar {
  display: flex;
  justify-content: center;
  position: relative;
}

.logo {
  position: absolute;
  left: 0;
}

.heading {
  font-size: 50px;
  padding: 15px 0;
  color: var(--blue);
}

/* description card */

.description {
  width: 75%;
  margin: 3em auto;
  border-radius: 5px;
  line-height: 2em;
}

.rhymeradar-word {
  display: inline;
  font-size: 25px;
  color: var(--blue);
}

/* search inputs section */
.search-section {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-bottom: 2em;
}

.user-input {
  width: 18em;
}

.search-btn {
  width: 3em;
  border-radius: 5px;
  background-color: var(--blue);
}

.search-btn:hover {
  background-color: var(--white);
}

/* carousel */
.suggestions-carousel {
  background-color: black;
  width: 40em;
  margin: 0 auto;
}
.carousel-inner {
  background-color: blue;
}

.carousel-item {
}
